@using Commencement.Core.Domain
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Commencement</title>
    <script src="https://use.typekit.net/vqy0brq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    @Styles.Render("~/Content/student-css")
    
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    @RenderSection("AdditionalStyles", required: false)
</head>
<body>
    
<header>
    <div class="header_contents">
        <div class="logo_wrapper">
            <a href="/"><img src="@Url.Content("~/Images/Media/ucdavislogo.svg")" alt=""></a>
        </div>
        <div class="login_contents">
            @RenderSection("NavButtons", required: false)
        </div>
    </div>
</header>
<div class="body-content">
    @RenderBody()

    <footer id="footer"><div class="footer_contents">
    <hr />
    <p>
        @Html.ActionLink("Home", "Index", "Admin", null, htmlAttributes: new { style = "color:white; text-decoration:none;" })
        @if (Context.User.IsInRole(Role.Codes.Admin) || Context.User.IsInRole(Role.Codes.User))
            {
            <span> | </span>
                <a href="https://secure.caes.ucdavis.edu/help/ticket/submit?appName=Commencement" target="_blank" style="color: white; text-decoration: none;">Questions or Comments</a> <span> | </span>
                <a href="https://secure.caes.ucdavis.edu/help/Help?appName=Commencement" target="_blank" style="color: white; text-decoration: none;">FAQ</a>
        }

        <br />
        <span id="ByLine">Developed By The College Of Agricultural And Environmental Science Dean's Office</span><br />
        Copyright The Regents of the University of California, Davis campus, 2005-17. All Rights Reserved.
    </p>
    <p id="VersionNumber">Version: @ViewData["VersionKey"]</p>
</div>

    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("AdditionalScripts", required: false)
</body>
</html>