@model Commencement.Core.Domain.RegistrationParticipation
    

<div class="ceremony">
    <h2>@(string.Format("{0} ({1})", Model.Ceremony.CeremonyName, Model.Ceremony.DateTime))</h2>
    <div class="ceremony__wrapper">
        <div class="input__group">
            <label>Status</label>
            @(Model.Cancelled ? "Cancelled" : "Registered")
        </div>
        <div class="input__group">
            <label>Major</label>
            @Model.Major.MajorName
        </div>
        <div class="input__group">
            <label>Tickets Requested</label>
            @Model.NumberTickets
        </div>
        <div class="input__group">
            <label>Ticket Distribution</label>
            @(Model.TicketDistributionMethod != null ? Model.TicketDistributionMethod.Name : "n/a")
        </div>
        @if (Model.ExtraTicketPetition != null)
        {
            if (!Model.ExtraTicketPetition.IsPending && Model.ExtraTicketPetition.IsApproved)
            {
                <div class="input__group">
                    <label># Extra Tickets Approved</label>
                    @Model.ExtraTicketPetition.NumberTickets
                </div>
            }
            else
            {
                <div class="input__group">
                    <label># Extra Tickets Requested</label>
                    @Model.ExtraTicketPetition.TotalTicketsRequested
                </div>
            }
            <div class="input__group">
                <label>Reason</label>
                @Model.ExtraTicketPetition.Reason
            </div>
        }
        else
        {
            <div class="input__group">
                <label>Extra Tickets</label>
                No extra ticket petition has been submitted for this registration.
            </div>
        }
    </div>
    <h2>Registered: @string.Format("{0:MM/dd/yyyy hh:mm tt}", Model.DateRegistered) -- Last Update: @string.Format("{0:MM/dd/yyyy hh:mm tt}", Model.DateUpdated)</h2>
</div>