@using Commencement.Core.Helpers
@model Commencement.Controllers.ViewModels.StudentDisplayRegistrationViewModel

@{
    ViewBag.Title = "DisplayRegistrationNew";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section NavButtons
{
<div class="pull-right">
    @Html.Partial("_LogonPartial")
    @if (Model.CanEditRegistration)
    {
        @Html.ActionLink("Edit Registration", "EditRegistration", "Student", new { Model.Registration.Id }, htmlAttributes: new { @class = "btn btn-14 btn-blue btn-sm" })
    }
    @if (Model.CanPetitionForExtraTickets)
    {
        @Html.ActionLink("Extra Ticket Petition", "ExtraTicketPetition", "Petition", new { Model.Registration.Id }, htmlAttributes: new { @class = "btn btn-14 btn-blue btn-sm" })
    }
</div>
}


<div class="banner banner--register">
    <div class="banner_contents">
        <img src="@Url.Content("~/Images/Media/commencement_welcome.svg")" alt="">
    </div>
</div>

<div class="studentbar">
    <div class="studentbar__contents">
        <div class="studentbar--item">
            <p><b>Name:</b> @Model.Registration.Student.FullName</p>
        </div>
        @*<div class="studentbar--item">
            <p><b>Email:</b> @Model.Registration.Student.Email</p>
        </div>*@
        <div class="studentbar--item">
            <p><b>Student ID:</b> @Model.Registration.Student.StudentId</p>
        </div>
        <div class="studentbar--item">
            <p><b>Units:</b> @Model.Registration.Student.TotalUnits</p>
        </div>
        <div class="studentbar--item">
            <p><b>Major(s):</b> @Model.Registration.Student.ActualStrMajors</p>
        </div>
    </div>
</div>

<div class="main">
    <div class="main_contents">
        <div class="register__section">
            <h2>Contact Information</h2>
            <div class="form__wrapper">
                <div class="result__group">
                    
                    <p><strong>Address Line 1:</strong> @Html.DisplayFor(a => a.Registration.Address1)</p>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Registration.Address2))
                {
                    <div class="result__group">
                        <p>
                            <strong>Address Line 2:</strong>
                            @Html.DisplayFor(a => a.Registration.Address2)
                        </p>

                    </div>
                }
                <div class="result__group">
                    <p>
                        <strong>City:</strong>
                        @Html.DisplayFor(a => a.Registration.City)
                    </p>
                </div>
                <div class="result__group">
                    <p>
                        <strong>State:</strong>
                        @Html.DisplayFor(a => a.Registration.State.Name)
                    </p>
                </div>
                <div class="result__group">
                    <p>
                        <strong>Zip Code:</strong>
                        @Html.DisplayFor(x => x.Registration.Zip)
                    </p>
                </div>
                <div class="result__group">
                    <p>
                        <strong>Cell Number for Texts (Carrier messaging and data rates may apply):</strong>
                        @if (!string.IsNullOrWhiteSpace(Model.Registration.CellNumberForText)) { 
                            @Html.DisplayFor(x => x.Registration.CellNumberForText)
                        }
                        else
                        {
                            <span>Not Supplied</span>
                        }

                    </p>
                </div>
                <div class="result__group">
                    <p>
                        <strong>Email Address:</strong>
                        @Html.DisplayFor(x => x.Registration.Student.Email)
                    </p>
                </div>
                @*<div class="result__group">
                    <p>
                        <strong>Ticket Password:</strong>
                        @Html.DisplayFor(x => x.Registration.TicketPassword)
                    </p>
                </div>*@
                <div class="result__group">
                    <p>
                        <strong>Additional Recipients Email:</strong>
                        @Html.DisplayFor(x => x.Registration.Email)
                    </p>
                </div>
                <div class="result__group">
                    <p>
                        <strong>How To Say Your Name Phonetically:</strong>
                        @Html.DisplayFor(x => x.Registration.Phonetic)
                    </p>
                </div>
                <div class="result__group">
                    <p>
                        <strong>Special Needs:</strong>
                        @string.Join(", ", Model.Registration.SpecialNeeds.Select(a => a.Name))
                    </p>
                </div>
            </div>
        </div>
        
        @if (Model.Registration.RegistrationParticipations.Count > 0)
        {
            <div class="register__section">
                <h2>Registered @(Model.Registration.RegistrationParticipations.Count == 1 ? "Ceremony" : "Ceremonies")</h2>
                @foreach (var a in Model.Registration.RegistrationParticipations)
                {
                    if (DateTime.UtcNow.ToPacificTime().Subtract(a.DateRegistered).TotalDays <= 2) //TODO: Prior to the cloud this was 2 minutes which might not be good if the survey takes longer.
                    {
                        //TODO style this div?
                        <div class="alert alert-success">
                            @Html.Raw(a.Ceremony.ConfirmationText)
                        </div>
                    }
                    @Html.Partial("_RegisteredCeremonyDisplay", a)
                }
            </div>
        }
        
        
        @if (Model.Registration.RegistrationPetitions.Count > 0)
        {
            <div class="register__section">
                <h2>Petitioned @(Model.Registration.RegistrationPetitions.Count == 1 ? "Ceremony" : "Ceremonies")</h2>
            </div>
            foreach (var a in Model.Registration.RegistrationPetitions)
            {
                @Html.Partial("_RegistrationPetitionDisplay", a)
            }
        }
                

    </div>
</div>
