@using Commencement.Controllers.Services
@model Commencement.Controllers.ViewModels.RegistrationModel
@{
    ViewBag.Title = "RegisterTest";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="pull-right">    
    @Html.Partial("_LogonPartial")
</div>

<div class="banner banner--register">
    <div class="banner_contents">
        <img src="@Url.Content("~/Images/Media/commencement_welcome.svg")"alt="">
    </div>
</div>
<div class="studentbar">
    <div class="studentbar__contents">
        <div class="studentbar--item">
            <p><b>Name:</b> @Model.Student.FullName</p>
        </div>
        <div class="studentbar--item">
            <p><b>Email:</b> @Model.Student.Email</p>
        </div>
        <div class="studentbar--item">
            <p><b>Student ID:</b> @Model.Student.StudentId</p>
        </div>
        <div class="studentbar--item">
            <p><b>Units:</b> @Model.Student.TotalUnits</p>
        </div>
        <div class="studentbar--item">
            <p><b>Major(s):</b> @Model.Student.ActualStrMajors</p>
        </div>
    </div>
</div>


<!-- </div>
</div> -->
<div class="main">
<div class="main_contents">    
    <div class="register">
        @Html.ValidationSummary("Please correct all errors below")

        @Html.Partial("_StudentContactEdit")
        <div class="register__section">            
            <h2>Ceremony</h2>
            @Html.Partial("_StudentCeremonyEdit")

        </div>
        <div class="register__section">
            <h2>Special Needs</h2>
            <p>Please indicate any special needs you (personally) have that will affect your ability to participate in the ceremony (lining up, sitting, crossing the stage, etc.). For guest accomondations, please refer back to the <a href="#">UC Davis Commencement site.</a>
            </p>
            <div class="form__wrapper">
                <form action="">
                    <div class="input__group">
                        <select>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
  
        <a href="" class="btn btn-18 btn-green">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Register for Commencement
        </a>

    </div>
</div>
    

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/easycounter")
    <script>
        $(function () {
            $("textarea.petition").jqEasyCounter({ 'maxChars': 500, 'maxCharsWarning': 550, 'msgAppendMethod': 'insertBefore', 'msgTextAlign': 'right' });
        });
    </script>

    <style type="text/css">
        .time_disclaimer {
            font-style: italic;
            color: grey;
            margin-left: 20px;
        }
    </style>
    <script type="text/javascript">
        $(function () {

            // list of davis zip codes
            var zips = ['95616', '95617', '95618'];

            $('#Registration_City, #Registration_Zip').blur(function () {
                var city = $('#Registration_City').val().toLowerCase();
                var zip = $('#Registration_Zip').val();

                if (city == "" || zip == "") return false;

                var isdavisZip = $.inArray(zip, zips) >= 0;
                var isdavisCity = city == 'davis';

                // davis zip is entered, ask if they want the city to be updated to davis
                if (isdavisZip && !isdavisCity) {
                    if (confirm("Would you like to update the city to davis?")) {
                        $("#Registration_City").val("Davis");
                    }
                }
                if (isdavisCity && !isdavisZip) {
                    alert("Your zip code does not appear to be a davis zip code.");
                }
            });

        });
    </script>
}
